/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

/* Universal styles */

body {
    width: 1280px;
    margin: 0 auto;
    background: #f5fafe;
}

ul {
    list-style-type: none;
    padding: 0px;
}

input::placeholder {
    padding: 15px;
}


/* Top navbar styles */

.topnavbar {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: 60px;
}

.topnavbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topnavbar__list-item {
    font-family: Mulish;
    font-size: 10px;
    line-height: 13px;
    color: #333333;
}

.topnavbar__list-item--item-one {
    margin-left: 97px;
}

.topnavbar__list-item--item-two {
    margin-left: 380px;
}

.topnavbar__list-item--item-three {
    position: relative;
    right: 60px;
}

.topnavbar__questions-text {
    width: 243px;
    height: 13px;
}

.topnavbar__btp-text:before {
    content: url(../images/topnavbar/topnavbar__btp-gift-img.svg);
    margin-right: 20px;
}

.topnavbar__btp-text {
    width: auto;
    height: 13px;
}

.topnavbar__loyalty-text::before {
    content: url(../images/topnavbar/topnavbar__loyalty-img.svg);
    margin-right: 20px;
}

.topnavbar__loyalty-text {
    width: auto;
    height: 13px;
}


/* Mid navbar styles */

.midnavbar {
    background-color: white;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

.midnavbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.midnavbar__list-item {
    margin-top: 35px;
}

.midnavbar__search-bar {
    width: 350px;
    height: 40px;
    position: relative;
    left: 400px;
    top: -57px;
}

.midnavbar__search-bar-input-field {
    background-color: #f5fafe;
    border: white;
    width: 285px;
    height: 39.88px;
    font-family: Mulish;
    font-size: 12px;
    font-weight: bold;
    line-height: 15.06px;
}

.midnavbar__search-bar-button {
    position: relative;
    top: -41.5px;
    left: 285px;
    background-color: #ec1f46;
    border: none;
    width: 65px;
    height: 42px;
    border-radius: 0px 10px 10px 0px;
}

.midnavbar__logo {
    width: 190px;
    margin-left: 97px;
}

.midnavbar__search-icon {
    color: white;
    width: 16px;
    height: 16px;
}

.midnavbar__cart {
    width: 34px;
    height: 33.98px;
    margin-left: 630px;
}

.midnavbar__list-item-userbox {
    width: 150px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 57px;
}

.midnavbar__username {
    font-family: Mulish;
    width: 48.9px;
    line-height: 18px;
}

.midnavbar__user-profile-photo {
    height: 40px;
    margin-right: 18px;
}

.midnavbar__down-arrow {
    width: 24px;
    height: 24px;
    margin-top: 12px;
}


/* Bottom navbar styles */

.bottomnavbar {
    background-color: #0a223d;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    height: 80px;
}

.bottomnavbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bottomnavbar__list-item {
    margin-top: 31px;
    margin-left: 32px;
}

.bottomnavbar__link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    font-family: Mulish;
    cursor: pointer;
}


/* Bread crumb styles */

.breadcrumb__list {
    width: 15.62vw;
    height: 50px;
    padding: 10px 16px;
    margin-left: 80px;
    background: #f5fafe;
}

.breadcrumb__list-item {
    display: inline;
    font-size: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    line-height: 13px;
}

.breadcrumb__link {
    text-decoration: none;
    color: #333333;
}


/* Hotel name section styles */

.hotelname {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    background: #f5fafe;
}

.hotelname__grand-hotel-hilton {
    margin-left: 97px;
}

.hotelname__stars {
    width: 48px;
    height: 8px;
}

.hotelname__header {
    width: 268px;
    height: 30px;
    font-family: Mulish;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}

.hotelname__half-board {
    width: 389px;
    height: 15px;
    font-family: Mulish;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.hotelname__flash-offer {
    width: 70px;
    height: 20px;
    background: #ec1f46;
    border-radius: 3px;
    margin-left: 370px;
    margin-top: -65px;
}

.hotelname__ratings {
    width: 65px;
    height: 45px;
    background: #ec1f46;
    border-radius: 3px;
    margin-left: 1136px;
    margin-top: -54.5px;
}

.hotelname__flash-offer-text {
    text-align: center;
    padding-top: 3px;
    height: 13px;
    line-height: 13px;
    font-weight: 600;
    font-size: 10px;
}

.hotelname__user-ratings-text {
    text-align: center;
    padding-top: 5px;
    height: 13px;
    font-size: 8px;
    line-height: 13px;
}

.hotelname__ratings-number {
    width: 31px;
    height: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    line-height: 18px;
}

.hotelname--whitefont {
    font-family: Mulish;
    color: #ffffff;
}


/* Slider styles */

.hotelslider {
    margin-left: 97px;
    margin-top: 20px;
    margin-right: 0px;
    width: 728px;
    height: 450px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%), url(../images/hotelslider/hotelslider.jpg);
}


/*Main styles*/

.main {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 1650px;
}


/* Booking box styles */

.bookingbox {
    margin-top: -465px;
    margin-left: 850px;
    width: 350px;
    height: 210px;
    background: #0a223d;
    border-radius: 8px;
}

.bookingbox__price {
    width: 50px;
    height: 59px;
    padding-top: 29px;
    margin-left: 29px;
}

.bookingbox__pricetext-one {
    display: grid;
    color: #ffffff;
    font-family: Nunito;
    width: 63px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
}

.bookingbox__pricetext-two {
    display: grid;
    color: #ffffff;
    font-family: Nunito;
    font-weight: 800;
    width: 85px;
    height: 33px;
    font-size: 24px;
    line-height: 33px;
}

.bookingbox__pricetext-three {
    display: grid;
    color: #ffffff;
    font-family: Nunito;
    width: 86px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
}

.bookingbox__personroom {
    margin-left: 241px;
    margin-right: 29px;
    margin-top: -70px;
    width: 80px;
    height: 40px;
}

.bookingbox__personroom-elem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bookingbox__personroom-icon {
    width: 14px;
    height: 14px;
}

.bookingbox__personroom-text {
    color: #ffffff;
    font-family: Nunito;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-top: -2px;
    margin-left: 4px;
}

.bookingbox__callcenter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 18px;
    width: 295px;
    height: 25px;
}

.bookingbox__callcenter-text {
    color: #ffffff;
    font-family: Nunito;
    font-weight: 600;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
}

.bookingbox__callcenter-text-two {
    position: relative;
    left: 52px;
}

.bookingbox__callcenter-text-two::before {
    content: url(../images/bookingbox/bookingbox__callcenter-phone.svg);
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.bookingbox__button {
    display: block;
    width: 295px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 26px;
    height: 40px;
    background: #ec1f46;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-family: Nunito;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}


/* Map styles */

.map-wrapper {
    border-radius: 8px;
    margin-left: 850px;
    margin-top: 25px;
}

.map-wrapper__img {
    width: 350px;
    height: 213px;
}


/* Cards menu styles */

.cardsmenu-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardsmenu-wrapper__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1150px;
    margin-top: 67.68px;
    margin-left: 70px;
    height: 35.32px;
}

.cardsmenu-wrapper__list-item {
    text-align: center;
}

.cardsmenu-wrapper__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-family: Mulish;
    font-weight: bold;
    text-align: center;
    color: #333333;
}

.cardsmenu-wrapper__link--active {
    color: #ec1f46;
}

.cardsmenu-wrapper__border {
    height: 4px;
    width: 118px;
    margin-left: 97px;
}


/* Package summery section styles */

.packagesummery {
    display: block;
    width: 100%;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
}

.packagesummery__header {
    width: 18.75vw;
    height: 30px;
    margin-left: 97px;
    margin-top: 40px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
}

.packagesummery__card-one {
    width: 538px;
    height: 200px;
    margin-left: 97px;
    margin-top: 29px;
}

.packagesummery__card-two {
    width: 538px;
    height: 200px;
    margin-left: 564px;
    margin-top: -254px;
}

.packagesummery__card-bluebox {
    width: 538px;
    height: 50px;
    background: #0a223d;
    border-radius: 4px 4px 0px 0px;
}

.packagesummery__card-whitebox {
    background: #ffffff;
    height: 150px;
    padding: 20px;
}

.packagesummery__card-header {
    width: 130px;
    height: 18px;
    margin-left: 24px;
    padding-top: 16px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.packagesummery__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 220px;
    height: 96px;
    margin-left: 65px;
    margin-top: 30px;
}

.packagesummery__list--list2 {
    position: relative;
    left: 280px;
    top: -145px;
}

.packagesummery__list--list3 {
    position: relative;
    top: -45px;
}

.packagesummery__list--list-card-three {
    position: relative;
    top: 85px;
}

.packagesummery__list-item::before {
    content: url(../images/packagesummery/packagesummery__list-item-icon.jpg);
    margin-right: 10px;
}

.packagesummery__list-item {
    width: 250px;
    height: 15px;
    font-family: Mulish;
    font-size: 12px;
    line-height: 15px;
    margin-left: -70px;
    margin-bottom: 31px;
}

.packagesummery__text {
    margin-left: 40px;
    margin-top: -35px;
}

.packagesummery__text-calendar {
    margin-left: 40px;
    margin-top: -25px;
}

.packagesummery__list-item-text--calendar::before {
    content: url(../images/packagesummery/packagesummery__list-item-icon-calendar.jpg);
    margin-right: 20px;
}

.packagesummery__list-item-text--calendar {
    position: relative;
    left: 290px;
    top: -170px;
}

.packagesummery__card-three-header {
    height: 18px;
    padding-top: 17px;
    margin-left: 21px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    width: 200px;
}

.packagesummery__list-header {
    font-family: Mulish;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    width: 240px;
    height: 16px;
    line-height: 16px;
    color: #ec1f46;
}

.packagesummery__card-three {
    width: 90%;
    height: 200px;
    margin-top: 70px;
}

.packagesummery__card-three-bluebox {
    width: 1110px;
    height: 50px;
    background: #0a223d;
    border-radius: 4px 4px 0px 0px;
}

.packagesummery__card-three-whitebox {
    background: #ffffff;
    padding: 20px;
    width: 1070px;
    height: 500px;
}

.packagesummery__line {
    width: 1048px;
    height: 0px;
    border: 1px dashed #e0e0e0;
    margin-top: 85px;
    margin-bottom: -15px;
}


/* Header + list styles = Groups */

.packagesummery__card-three-group-one {
    width: 258px;
    height: 239px;
    margin-left: 15px;
}

.packagesummery__card-three-group-two {
    width: 284px;
    height: 238px;
    margin-top: -251px;
    margin-left: 380px;
}

.packagesummery__card-three-group-three {
    width: 284px;
    height: 238px;
    margin-top: -251px;
    margin-left: 760px;
}

.packagesummery__card-three-group-four {
    width: 160px;
    height: 90px;
    margin-left: 15px;
    margin-top: 40px;
}

.packagesummery__card-three-group-five {
    width: 200px;
    height: 90px;
    margin-top: -104px;
    margin-left: 380px;
}

.packagesummery__card-three-group-six {
    width: 284px;
    height: 238px;
    margin-top: -104px;
    margin-left: 760px;
}


/* Other Packages */

.other-packages {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.other-packages__header {
    display: block;
    margin-top: 245px;
    margin-left: auto;
    margin-right: auto;
    width: 327px;
    height: 45px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.other-packages__cards {
    width: 1110px;
    height: 1205px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.other-packages__trip-advisor-card-one {
    width: 730px;
    height: 500px;
    margin-top: 18px;
    margin-left: 0px;
}

.other-packages__trip-advisor-card-two {
    margin-left: 760px;
    margin-top: -500px;
    width: 350px;
    height: 500px;
}

.other-packages__trip-advisor-card-three {
    margin-top: 32px;
    width: 350px;
    height: 500px;
}

.other-packages__trip-advisor-card-four {
    margin-left: 380px;
    margin-top: -504px;
    width: 350px;
    height: 500px;
}

.other-packages__trip-advisor-card-five {
    margin-left: 760px;
    margin-top: -504px;
    width: 350px;
    height: 500px;
}

.other-packages__card-big-picture {
    background: url(../images/other-packages/other-packages__trip-advisor-card-one.jpg), #007ADF;
    width: 366px;
    height: 500px;
}

.other-packages__card-big-info-box {
    width: 364px;
    height: 500px;
    background: #0A223D;
    border-radius: 0px 8px 8px 0px;
    margin-top: -500px;
    margin-left: 366px;
}

.other-packages__stars {
    margin-left: 55px;
    margin-top: 50px
}

.other-packages__card-big-info-box-header {
    width: 149px;
    height: 23px;
    margin-left: 55px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.other-packages__card-big-info-box-text {
    width: 299px;
    height: 165px;
    margin-left: 55px;
    margin-top: 20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    line-height: 160.6%;
    color: #FFFFFF;
}

.other-packages__card-big-personroom {
    width: 203px;
    height: 67px;
    position: relative;
    left: 55px;
    top: 20px;
}

.other-packages__personroom-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -15px;
}

.other-packages__personroom-elem-text {
    width: 200px;
    height: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.other-packages__personroom-elem-text--one::before {
    content: url(../images/other-packages/other-packages__personroom-elem-map-pin.svg);
    margin-right: 14px;
    width: 14px;
    height: 14px;
}

.other-packages__personroom-elem-text--two::before {
    content: url(../images/common-icons/personroom-icon-user.svg);
    margin-right: 14px;
    width: 14px;
    height: 14px;
}

.other-packages__personroom-elem-text--three {
    margin-top: -18px;
    margin-left: 27px;
}

.other-packages__personroom-home-icon {
    width: 18px;
    height: 18px;
    margin-top: 18px;
}

.other-packages__card-big-flash-offer-box {
    margin-bottom: -50px;
    position: relative;
    width: 95px;
    height: 30px;
    background: #EC1F46;
    border-radius: 0px 4px 4px 0px;
}

.other-packages__card-big-flash-offer-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6px;
    width: 72px;
    height: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

.other-packages__card-big-button {
    width: 120px;
    height: 40px;
    background: #EC1F46;
    border: none;
    border-radius: 4px;
    margin-left: 230px;
    margin-top: 80px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.other-packages__card-big-prices {
    position: relative;
    left: 55px;
    top: -70px;
}

.other-packages__old-price {
    width: 58px;
    height: 18px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #FFFFFF;
}

.other-packages__new-price {
    width: 85px;
    height: 30px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-top: -10px;
    color: #FFFFFF;
}

.other-packages__card-two-picture {
    background: url(../images/other-packages/other-packages__trip-advisor-card-two.jpg), #007ADF;
    width: 350px;
    height: 250px;
    margin-bottom: -20px;
}

.other-packages__card-three-picture {
    background: url(../images/other-packages/other-packages__trip-advisor-card-three.jpg);
    width: 350px;
    height: 250px;
    margin-bottom: -20px;
}

.other-packages__card-four-picture {
    background: url(../images/other-packages/other-packages__trip-advisor-card-four.jpg);
    width: 350px;
    height: 250px;
    margin-bottom: -20px;
}

.other-packages__card-five-picture {
    background: url(../images/other-packages/other-packages__trip-advisor-card-five.jpg);
    width: 350px;
    height: 250px;
    margin-bottom: -20px;
}

.other-packages__card-small-flash-offer-box {
    width: 60px;
    height: 18px;
    margin-bottom: -40px;
    background: #EC1F46;
    border-radius: 0px 4px 4px 0px;
    position: relative;
}

.other-packages__card-small-flash-offer-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    width: 42px;
    height: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 4px;
}

.other-packages__card-small-info-box {
    width: 350px;
    height: 250px;
    background: #0A223D;
    border-radius: 0px 0px 8px 8px;
}

.other-packages__card-small-info-box-header {
    width: 138px;
    height: 23px;
    padding-top: 30px;
    margin-left: 32px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.other-packages__card-small-personroom {
    width: 203px;
    height: 67px;
    position: relative;
    margin-left: 30px;
    top: 12px;
}

.other-packages__card-small-prices {
    position: relative;
    margin-left: 32px;
    top: -68px;
}

.other-packages__card-small-button {
    width: 120px;
    height: 40px;
    background: #EC1F46;
    border: none;
    border-radius: 4px;
    margin-left: 209px;
    margin-top: 65px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}


/* Guest Review Styles */

.guest-review {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
}

.guest-review__header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 606px;
    height: 45px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.guest-review__slider-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 71px;
    width: 731px;
    height: 327px;
}

.guest-review__slider-white-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 731px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 8px;
}

.guest-review__slider-user-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    background: url(../images/guest-review/guest-review__slider-user-picture.jpg);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    bottom: -40px;
}

.guest-review__slider-quotation-mark-one {
    position: relative;
    left: 80px;
    top: 15px;
}

.guest-review__slider-quotation-mark-two {
    position: relative;
    left: 600px;
    bottom: -10px;
}

.guest-review__actual-review-wrapper {
    position: relative;
    top: -290px;
}

.guest-review__slider-user-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 63px;
    height: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #EC1F46;
}

.guest-review__slider-user-stay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 127px;
    height: 13px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}

.guest-review__stars {
    width: 48px;
    height: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.guest-review__actual-review-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -45px;
    width: 507px;
    height: 114px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-align: justify;
    color: #333333;
}

.guest-review__chevron-left {
    width: 30px;
    height: 30px;
    position: relative;
    top: 285px;
    left: 82px;
}

.guest-review__chevron-right {
    width: 30px;
    height: 30px;
    position: relative;
    top: 285px;
    left: 1132px;
}


/* Newsletter styles */

.newsletter {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    margin-top: 68px;
}

.newsletter__background {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 260px;
    background: linear-gradient(180deg, rgba(10, 34, 61, 0.8) 20%, rgba(10, 34, 61, 0.8) 80%), url(../images/newsletter/newsletter-background.jpg);
    background-position: center;
}

.newsletter__call-to-action {
    width: 242px;
    height: 75px;
    margin-left: 275px;
    margin-top: -190px;
}

.newsletter__call-to-action-text1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.newsletter__call-to-action-text2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: -20px;
}

.newsletter__subscribe-bar {
    width: 350px;
    height: 55px;
    margin-top: -65px;
    margin-left: 657px;
}

.newsletter__subscribe-field {
    width: 285px;
    height: 50px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 4px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    float: left;
}

.newsletter__subscribe-button {
    width: 65px;
    height: 57.6px;
    background: #EC1F46;
    border: none;
    border-radius: 0px 4px 4px 0px;
    color: #FFFFFF;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    float: right;
    margin-top: -57px;
}


/* Other activities styles */

.other-activities {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

.other-activities__header {
    position: relative;
    top: 60px;
    left: 90px;
    width: 220px;
    height: 30px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.other-activities__cards-wrapper {
    width: 1110px;
    height: 255px;
    position: relative;
    top: 147px;
    left: 90px;
}

.other-activities__single-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
    width: 255px;
    height: 255px;
    border-radius: 6px;
}

.other-activities__single-card--one {
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url(../images/other-activities/other-activities__single-card--one.jpg);
    margin-left: -2px;
}

.other-activities__single-card--two {
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url(../images/other-activities/other-activities__single-card--two.jpg);
}

.other-activities__single-card--three {
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url(../images/other-activities/other-activities__single-card--three.jpg);
}

.other-activities__single-card--four {
    background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%), url(../images/other-activities/other-activities__single-card--four.jpg);
}

.other-activities__text {
    position: relative;
    top: 75px;
    left: 26px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.other-activities__text--card-one {
    width: 145px;
    height: 40px;
}

.other-activities__text--card-two {
    width: 153px;
    height: 40px;
}

.other-activities__text--card-three {
    width: 161px;
    height: 40px;
}

.other-activities__text--card-four {
    width: 200px;
    height: 40px;
}

.other-activities__button {
    position: relative;
    top: 20px;
    left: 26px;
    width: 100px;
    height: 30px;
    background: #EC1F46;
    border: none;
    border-radius: 4px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.blank-space {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 17px;
    background: #ffffff;
    top: 102px;
    position: relative;
}


/* Footer main styles */

.footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 900px;
    background: #0A223D;
    margin-top: 98px;
}


/* Footer top styles */

.footer__top {
    width: 1110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 223px;
    background-color: brown;
    padding-top: 91px;
}

.footer__top-logo {
    width: 153px;
    height: 175px;
}

.footer__top-group {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Mulish;
    font-style: normal;
    color: #FFFFFF;
}

.footer__top-group--one {
    left: 125px;
    position: relative;
    width: 156px;
    height: 218px;
    top: -198px;
}

.footer__top-group--two {
    position: relative;
    left: 245px;
    width: 251px;
    height: 171px;
    top: -198px;
}

.footer__top-group--three {
    position: relative;
    left: 341px;
    width: 195px;
    height: 127px;
    top: -198px;
}

.footer__top-group--four {
    position: relative;
    top: 20px;
    left: -207px;
    width: 293px;
    height: 24px;
}

.footer__top-list-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.footer__top-list-item {
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
}

.footer__top-social-network-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 280px;
    position: relative;
    left: 200px;
    top: -55px;
}

.footer__top-social-network-list-item {
    width: 24px;
    height: 24px;
    margin-left: -150px;
}


/* Footer contacts styles */

.footer__contacts {
    width: 1113px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    height: 317px;
    background-color: yellow;
}

.footer__contacts-details-wrapper {
    width: 493px;
    height: 245px;
}

.footer__contacts-header {
    width: 189px;
    height: 23px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__contacts-header-form {
    position: relative;
    left: 567px;
    bottom: 260px;
}

.footer__contacts-details-call-to-action {
    margin-top: 35px;
    margin-bottom: 0px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
}

.footer__contacts-details-icons-list {
    position: relative;
    right: 238px;
    top: 15px;
}

.footer__contacts-details-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__contacts-details-icon-two {
    position: relative;
    top: 29px;
}

.footer__contacts-details-icon-three {
    position: relative;
    top: 110px;
}

.footer__contact-details-text-list {
    width: 488px;
    height: 154px;
    position: relative;
    left: 60px;
    bottom: 62px;
}

.footer__contact-details-text-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #BDBDBD;
}

.footer__contact-details-text-list-item--two {
    position: relative;
    top: 20px;
}

.footer__contact-details-text-list-item--three {
    position: relative;
    top: 62px;
}

.footer__contacts-form-wrapper {
    width: 539px;
    height: 317px;
}

.footer__contacts-input-fields {
    width: 539px;
    position: relative;
    left: 567px;
    bottom: 250px;
}

.footer__contacts-input-field-one {
    font-family: Mulish;
    width: 255px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 4px;
}

.footer__contacts-input-field-two {
    font-family: Mulish;
    width: 254px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 4px;
    position: relative;
    left: 18px;
}

.footer__contacts-input-field-three {
    font-family: Mulish;
    width: 539px;
    height: 123px;
    background: #FFFFFF;
    border-radius: 4px;
    position: relative;
    top: 15px;
}

.footer__contacts-send-button {
    width: 160px;
    height: 50px;
    background: #EC1F46;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    font-family: Mulish;
    position: relative;
    top: 22px;
}

.footer__contacts-required-fields {
    width: 97px;
    height: 15px;
    position: relative;
    left: 442px;
    top: -20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #E0E0E0;
}


/* Footer bottom styles */

.footer__bottom {
    width: 696px;
    height: 22px;
    position: relative;
    left: 294px;
    top: 95px;
    background-color: coral;
}

.footer__bottom-disclaimer {
    width: 503px;
    height: 15px;
}

.footer__bottom-disclaimer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 483px;
    height: 15px;
}

.footer__bottom-disclaimer-list-item {
    width: 120px;
    height: 15px;
}

.footer__bottom-disclaimer-link {
    text-align: center;
    text-decoration: none;
    font-family: Mulish;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.footer__bottom-payment-methods {
    position: relative;
    left: 560px;
    top: -15px;
    width: 136px;
    height: 22px;
    background: url(../images/footer/footer__payments-methods.jpg);
}