/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

/* Universal styles */

body {
    width: 1280px;
    margin: 0px auto;
    background: #f5fafe;
}

ul {
    list-style-type: none;
    padding: 0vw;
}

input::placeholder {
    padding: 15px;
}


/* Top navbar styles */

.topnavbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0vw;
    height: 60px;
}

.topnavbar__items {
    margin-top: auto;
    margin-bottom: auto;
}

.topnavbar__item {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 100px;
    font-family: Mulish;
    font-size: 10px;
    line-height: 13px;
    color: #333333;
}

.topnavbar__item--item-two-distance {
    margin-left: 455px;
}

.topnavbar__item--item-three-distance {
    margin-left: -0.19px;
    margin-right: 0vw;
}

.topnavbar__text1 {
    width: 243px;
    height: 13px;
}

.topnavbar__text2 {
    width: 64px;
    height: 13px;
}

.topnavbar__text3 {
    width: 77px;
    height: 13px;
}

.topnavbar__img1 {
    width: 18px;
    height: 18px;
    margin-right: 20px;
}

.topnavbar__img2 {
    width: 18px;
    height: 18px;
    margin-right: 20px;
}


/* Mid navbar styles */

.midnavbar {
    background-color: white;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

.midnavbar__search-bar {
    padding: 0px;
    margin-left: 365px;
    margin-top: -85px;
}

.midnavbar__search-bar-input-field {
    background-color: #f5fafe;
    border: white;
    width: 285px;
    height: 39.88px;
    font-family: Mulish;
    font-size: 12px;
    font-weight: bold;
    line-height: 15.06px;
}

.midnavbar__search-bar-button {
    margin-left: -3px;
    padding-top: -5px;
    background-color: #ec1f46;
    border-color: #EC1F46;
    width: 5.08vw;
    height: 42px;
    border-radius: 0px 10px 10px 0px;
}

.midnavbar__item {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.midnavbar__logo {
    margin-left: 100px;
    width: 176px;
    height: 24px;
}

.midnavbar__img1 {
    color: white;
    width: 16px;
    height: 16px;
}

.midnavbar__img2 {
    width: 34px;
    height: 33.98px;
    margin-right: -1415px;
}

.midnavbar__item-userbox {
    width: 150px;
    margin-left: 765px;
    height: 40px;
}

.midnavbar__item-username {
    font-family: Mulish;
    width: 48.9px;
    line-height: 18px;
}

.midnavbar__img3 {
    height: 40px;
    margin-left: 40px;
    margin-right: 19.97px;
}

.midnavbar__img4 {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-left: 19.97px;
}


/* Bottom navbar styles */

.bottomnavbar {
    background-color: #0a223d;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    height: 80px;
}

.bottomnavbar__list {
    margin-left: 60px;
}

.bottomnavbar__list-item {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 41.5px;
    margin-top: 31px;
}

.bottomnavbar__link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    font-family: Mulish;
    cursor: pointer;
}


/* Bread crumb styles */

.breadcrumb {
    width: 15.62vw;
    height: 50px;
    padding: 10px 16px;
    margin-left: 6.25vw;
    background: #f5fafe;
}

.breadcrumb__item {
    display: inline;
    font-size: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    line-height: 13px;
}

.breadcrumb__link {
    text-decoration: none;
    color: #333333;
}


/* Hotel name styles */

.hotelname {
    display: block;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    background: #f5fafe;
}

.hotelname__grand-hotel-hilton {
    margin-left: 97px;
}

.hotelname__stars {
    width: 48px;
    height: 8px;
}

.hotelname__header {
    width: 268px;
    height: 30px;
    font-family: Mulish;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}

.hotelname__text1 {
    width: 389px;
    height: 15px;
    font-family: Mulish;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}

.hotelname__offer {
    width: 70px;
    height: 20px;
    background: #ec1f46;
    border-radius: 3px;
    margin-left: 370px;
    margin-top: -65px;
}

.hotelname__ratings {
    width: 65px;
    height: 45px;
    background: #ec1f46;
    border-radius: 3px;
    margin-left: 1136px;
    margin-top: -54.5px;
}

.hotelname__text2 {
    display: block;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    height: 13px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
}

.hotelname__text3 {
    display: block;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    height: 13px;
    font-size: 8px;
    line-height: 13px;
}

.hotelname__ratings-mark {
    width: 31px;
    height: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    line-height: 18px;
}

.hotelname--whitefont {
    font-family: Mulish;
    color: #ffffff;
}


/* Slider styles */

.hotelslider {
    margin-left: 97px;
    margin-top: 20px;
    margin-right: 0px;
    width: 728px;
    height: 450px;
    border-radius: 8px;
    background: url(../images/hotelslider/hotelslider.jpg);
}


/*Main styles*/

.main {
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 1650px;
}


/* Booking box styles */

.bookingbox {
    margin-top: -465px;
    margin-left: 850px;
    width: 350px;
    height: 210px;
    background: #0a223d;
    border-radius: 8px;
}

.bookingbox__price {
    width: 50px;
    height: 59px;
    padding-top: 29px;
    margin-left: 29px;
}

.bookingbox__pricetext-one {
    display: grid;
    color: #ffffff;
    font-family: Nunito;
    width: 63px;
    height: 14px;
    font-size: 10px;
    line-height: 14px;
}

.bookingbox__pricetext-two {
    display: grid;
    color: #ffffff;
    font-family: Nunito;
    font-weight: 800;
    width: 85px;
    height: 33px;
    font-size: 24px;
    line-height: 33px;
}

.bookingbox__pricetext-three {
    display: grid;
    color: #ffffff;
    font-family: Nunito;
    width: 86px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
}

.bookingbox__personroom {
    margin-left: 241px;
    margin-right: 29px;
    margin-top: -70px;
    width: 80px;
    height: 40px;
}

.bookingbox__personroom-elem {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.bookingbox__personroom-icon {
    width: 14px;
    height: 14px;
}

.bookingbox__personroom-text {
    color: #ffffff;
    font-family: Nunito;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-top: -2px;
    margin-left: 4px;
}

.bookingbox__callcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    width: 295px;
    height: 25px;
}

.bookingbox__callcenter-text {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    font-family: Nunito;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.bookingbox__callcenter-text--text-two-dist {
    margin-left: 105px;
}

.bookingbox__callcenter-phone {
    width: 14px;
    height: 14px;
    margin-right: -98px;
    margin-left: 98px;
}

.bookingbox__button {
    display: block;
    width: 295px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 26px;
    height: 40px;
    background: #ec1f46;
    border-color: #ec1f46;
    border-radius: 4px;
    color: #ffffff;
    font-family: Nunito;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.bookingbox__button-text {
    margin-top: 6px;
}


/* Map styles */

.map {
    border-radius: 8px;
    margin-left: 850px;
    margin-top: 25px;
}

.map__img {
    width: 350px;
    height: 213px;
}


/* Cards menu styles */

.cardsmenu {
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardsmenu__list {
    width: 92vw;
    margin-left: 69px;
    margin-top: 67.68px;
    height: 35.32px;
}

.cardsmenu__list-item {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
    padding: 0 29px;
}

.cardsmenu__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-family: Mulish;
    font-weight: bold;
    text-align: center;
    color: #333333;
}

.cardsmenu__link--active {
    color: #ec1f46;
}

.cardsmenu__border {
    height: 4px;
    width: 118px;
    margin-left: 97px;
}


/* Package summary section styles */

.packagesummary {
    display: block;
    width: 100%;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
}

.packagesummary__header {
    width: 18.75vw;
    height: 30px;
    margin-left: 97px;
    margin-top: 40px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
}

.packagesummary__card-one {
    width: 538px;
    height: 200px;
    margin-left: 97px;
    margin-top: 29px;
}

.packagesummary__card-two {
    width: 538px;
    height: 200px;
    margin-left: 564px;
    margin-top: -254px;
}

.packagesummary__card-bluebox {
    width: 538px;
    height: 50px;
    background: #0a223d;
    border-radius: 4px 4px 0px 0px;
}

.packagesummary__card-whitebox {
    background: #ffffff;
    height: 150px;
    padding: 20px;
}

.packagesummary__card-header {
    width: 130px;
    height: 18px;
    margin-left: 24px;
    padding-top: 16px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.packagesummary__list {
    width: 220px;
    height: 96px;
    margin-left: 65px;
    margin-top: 10px;
}

.packagesummary__list-two {
    width: 220px;
    height: 96px;
    margin-left: 370px;
    margin-top: -110px;
}

.packagesummary__item-text::before {
    content: url(../images/packagesummary/packagesummary__item-icon.jpg);
    margin-right: 20px;
}

.packagesummary__item {
    width: 220px;
    font-family: Mulish;
    font-size: 12px;
    line-height: 15px;
    margin-left: -70px;
}

.packagesummary__item-text {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.packagesummary__item-text-deadline {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 38px;
}

.packagesummary__item-text-calendar::before {
    content: url(../images/packagesummary/packagesummary__item-icon-calendar.jpg);
    margin-right: 20px;
}

.packagesummary__item-text-calendar {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.packagesummary__card-three-header {
    height: 18px;
    padding-top: 17px;
    margin-left: 21px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    width: 200px;
}

.packagesummary__card-three {
    width: 90%;
    height: 200px;
    margin-top: 70px;
}

.packagesummary__card-three-bluebox {
    width: 1110px;
    height: 50px;
    background: #0a223d;
    border-radius: 4px 4px 0px 0px;
}

.packagesummary__card-three-whitebox {
    background: #ffffff;
    padding: 20px;
    width: 1070px;
    height: 500px;
}

.packagesummary__line {
    width: 1048px;
    height: 0px;
    border: 1px dashed #e0e0e0;
    margin-top: 85px;
    margin-bottom: -15px;
}


/* Header + list styles = Groups */

.packagesummary__card-three-group-one {
    width: 258px;
    height: 239px;
    margin-left: 15px;
}

.packagesummary__card-three-group-two {
    width: 284px;
    height: 238px;
    margin-top: -251px;
    margin-left: 380px;
}

.packagesummary__card-three-group-three {
    width: 284px;
    height: 238px;
    margin-top: -251px;
    margin-left: 760px;
}

.packagesummary__card-three-group-four {
    width: 160px;
    height: 90px;
    margin-left: 15px;
    margin-top: 40px;
}

.packagesummary__card-three-group-five {
    width: 200px;
    height: 90px;
    margin-top: -104px;
    margin-left: 380px;
}

.packagesummary__card-three-group-six {
    width: 284px;
    height: 238px;
    margin-top: -104px;
    margin-left: 760px;
}

.packagesummary__card-three-list-header {
    font-family: Mulish;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    width: 240px;
    height: 16px;
    line-height: 16px;
    color: #ec1f46;
}

.packagesummary__card-three-list {
    margin-top: 20px;
}

.packagesummary__card-three-list-item {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #333333;
}


/* Other Packages */

.other-packages {
    position: absolute;
    width: 1440px;
    height: 1250px;
    left: 0px;
    top: 1910px;
}

.other-packages__header {
    position: absolute;
    width: 327px;
    height: 45px;
    left: 556px;
    top: 145px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.other-packages__cards {
    height: 1205px;
    width: 1110px;
    margin-top: -45px;
}

.other-packages__trip-advisor-card-one {
    position: absolute;
    width: 730px;
    height: 500px;
    margin-top: 360px;
    margin-left: 159px;
}

.other-packages__trip-advisor-card-two {
    position: absolute;
    width: 350px;
    height: 500px;
    margin-top: 360px;
    margin-left: 925px;
}

.other-packages__trip-advisor-card-three {
    position: absolute;
    width: 350px;
    height: 500px;
    margin-top: 909px;
    margin-left: 159px;
}

.other-packages__trip-advisor-card-four {
    position: absolute;
    width: 350px;
    height: 500px;
    margin-top: 909px;
    margin-left: 540px;
}

.other-packages__trip-advisor-card-five {
    position: absolute;
    width: 350px;
    height: 500px;
    margin-top: 909px;
    margin-left: 925px;
}

.other-packages__card-big-info-box {
    position: absolute;
    width: 364px;
    height: 500px;
    left: 366px;
    top: -0.005px;
    background: #0A223D;
    border-radius: 0px 8px 8px 0px;
}

.other-packages__stars {
    margin-left: 55px;
    margin-top: 50px
}

.other-packages__card-big-info-box-header {
    position: absolute;
    width: 149px;
    height: 23px;
    margin-left: 55px;
    top: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.other-packages__card-big-info-box-text {
    position: absolute;
    width: 299px;
    height: 165px;
    margin-left: 55px;
    margin-top: 65px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    line-height: 160.6%;
    color: #FFFFFF;
}

.other-packages__card-big-personroom {
    position: absolute;
    width: 203px;
    height: 67px;
    margin-left: 55px;
    top: 318px;
}

.other-packages__personroom-elem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.other-packages__personroom-elem-icon {
    width: 14px;
    height: 14px;
}

.other-packages__personroom-elem-text {
    position: absolute;
    width: 175px;
    height: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.other-packages__personroom-elem-text--one {
    left: 32px;
    top: -10px;
}

.other-packages__personroom-elem-text--two {
    left: 32px;
    top: 20px;
}

.other-packages__personroom-elem-icon--two {
    margin-top: 17px;
}

.other-packages__personroom-elem-text--three {
    left: 32px;
    top: 50px;
}

.other-packages__personroom-elem-icon--three {
    width: 19px;
    height: 19px;
    margin-top: 18px;
}

.other-packages__card-big-flash-offer-box {
    position: absolute;
    width: 95px;
    height: 30px;
    background: #EC1F46;
    border-radius: 0px 4px 4px 0px;
    top: 20px;
}

.other-packages__card-big-flash-offer-text {
    position: absolute;
    width: 72px;
    height: 15px;
    top: -5px;
    left: 8.5px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.other-packages__card-big-button {
    position: absolute;
    width: 120px;
    height: 40px;
    background: #EC1F46;
    border-color: #ec1f46;
    border-radius: 4px;
    left: 225px;
    top: 440px;
}

.other-packages__book-now-button-text {
    width: 67px;
    height: 19px;
    text-align: center;
    margin-left: 19px;
    margin-top: 8px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.other-packages__card-big-prices {
    position: absolute;
    margin-left: 55px;
    top: 415px;
}

.other-packages__old-price {
    width: 58px;
    height: 18px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #FFFFFF;
}

.other-packages__new-price {
    width: 85px;
    height: 30px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-top: -10px;
    color: #FFFFFF;
}

.other-packages__card-small-flash-offer-box {
    position: absolute;
    width: 60px;
    height: 18px;
    background: #EC1F46;
    border-radius: 0px 4px 4px 0px;
    top: 20px;
}

.other-packages__card-small-flash-offer-text {
    width: 42px;
    height: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 4px;
}

.other-packages__card-small-info-box {
    position: absolute;
    width: 350px;
    height: 250px;
    top: 250px;
    background: #0A223D;
    border-radius: 0px 0px 8px 8px;
}

.other-packages__card-small-info-box-header {
    position: absolute;
    width: 138px;
    height: 23px;
    left: 32px;
    top: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.other-packages__card-small-personroom {
    position: absolute;
    width: 203px;
    height: 67px;
    margin-left: 30px;
    top: 72.5px;
}

.other-packages__card-small-prices {
    position: absolute;
    margin-left: 32px;
    top: 160px;
}

.other-packages__card-small-button {
    position: absolute;
    width: 120px;
    height: 40px;
    background: #EC1F46;
    border-color: #ec1f46;
    border-radius: 4px;
    top: 195px;
    left: 210px;
}


/* Guest Review Styles */

.guest-review {
    position: absolute;
    width: 1440px;
    height: 550px;
    left: 0px;
    top: 3160px;
}

.guest-review__header {
    position: absolute;
    width: 606px;
    height: 45px;
    left: 400px;
    top: 200px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.guest-review__slider-wrapper {
    position: absolute;
    width: 731px;
    height: 327px;
    left: 177.25px;
    top: 230px;
}

.guest-review__slider-white-card {
    position: absolute;
    width: 731px;
    height: 280px;
    top: 230px;
    left: 177.25px;
    background: #FFFFFF;
    border-radius: 8px;
}

.guest-review__slider-user-picture {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 320.5px;
    top: -45px;
    background: url(./images/guest-review/guest-review__slider-user-picture.jpg);
}

.guest-review__slider-quotation-mark-one {
    position: absolute;
    left: 9.3%;
    top: 4%;
}

.guest-review__slider-quotation-mark-two {
    position: absolute;
    left: 77.45%;
    top: 45%;
    z-index: 1;
}

.guest-review__slider-user-name {
    position: absolute;
    width: 63px;
    height: 15px;
    left: 335px;
    top: 48px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #EC1F46;
}

.guest-review__slider-user-stay {
    position: absolute;
    width: 127px;
    height: 13px;
    left: 310px;
    top: 75px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
    color: #000000;
}

.guest-review__stars {
    position: absolute;
    width: 48px;
    height: 8px;
    left: 340px;
    top: 105px;
}

.guest-review__actual-review {
    position: absolute;
    z-index: 2;
    width: 507px;
    height: 114px;
    left: 97px;
    top: 125px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-align: justify;
    color: #333333;
}

.guest-review__chevron-left {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 320px;
    left: -20px;
}

.guest-review__chevron-right {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 320px;
    left: 1065px;
}


/* Newsletter styles */

.newsletter {
    position: absolute;
    width: 1440px;
    height: 260px;
    left: 0px;
    top: 4000px;
    background: rgba(10, 34, 61, 0.8);
    /*19/11 - Not sure it is correct*/
}

.newsletter__background {
    width: 1440px;
    height: 260px;
    opacity: 0.2;
}

.newsletter__call-to-action {
    position: absolute;
    width: 242px;
    height: 75px;
    margin-left: 353px;
    top: 80px;
}

.newsletter__call-to-action-text1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.newsletter__call-to-action-text2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -20px;
}

.newsletter__subscribe-bar {
    position: absolute;
    width: 350px;
    height: 55px;
    left: 1020px;
    top: 112px;
}

.newsletter__subscribe-field {
    position: absolute;
    width: 285px;
    height: 50px;
    left: -285px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 4px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.newsletter__subscribe-button {
    position: absolute;
    width: 65px;
    height: 57.6px;
    background: #EC1F46;
    border-color: #ec1f46;
    border-radius: 0px 4px 4px 0px;
    color: #FFFFFF;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}


/* Other activities styles */

.other-activities {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 4300px;
}

.other-activities__header {
    position: absolute;
    width: 220px;
    height: 30px;
    left: 165px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.other-activities__cards {
    position: absolute;
    width: 1110px;
    height: 255px;
    left: 165px;
    top: 130px;
    bottom: 98px;
}

.other-activities__card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 255px;
    height: 255px;
}

.other-activities__card--one {
    left: 0px;
    background: url(../images/other-activities/other-activities__card--one.jpg);
    opacity: 0.85;
}

.other-activities__card--two {
    left: 284px;
    background: url(../images/other-activities/other-activities__card--two.jpg);
    opacity: 0.85;
}

.other-activities__card--three {
    left: 570px;
    background: url(../images/other-activities/other-activities__card--three.jpg);
    opacity: 0.85;
}

.other-activities__card--four {
    left: 855px;
    background: url(../images/other-activities/other-activities__card--four.jpg);
    opacity: 0.85;
}

.other-activities__text {
    position: absolute;
    width: 145px;
    height: 40px;
    left: 21px;
    top: 125px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.other-activities__button {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 21px;
    top: 210px;
    background: #EC1F46;
    border-color: #ec1f46;
    border-radius: 4px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}


/* Footer main styles */

.footer {
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 4800px;
    background: #0A223D;
}


/* Footer top styles */

.footer__top {
    position: absolute;
    width: 1110px;
    height: 223px;
    left: 165px;
    margin-top: 108px;
}

.footer__top-logo {
    position: absolute;
    width: 153px;
    height: 175px;
    margin-top: 31px;
}

.footer__top-group {
    position: absolute;
    width: 260px;
    height: 180px;
    left: 283px;
    margin-top: -18px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.footer__top-group--one {
    left: 283px;
}

.footer__top-group--two {
    left: 570px;
}

.footer__top-group--three {
    left: 912px;
}

.footer__top-group--four {
    width: 293px;
    left: 570px;
    top: 200px;
}

.footer__top-list-header {
    font-size: 18px;
    line-height: 23px;
}

.footer__top-list-items {
    margin-left: -40px;
    margin-top: -5px;
}

.footer__top-list-item {
    font-size: 16px;
    line-height: 23px;
}

.footer__top-social-network-items {
    margin-left: -48px;
}

.footer__top-social-network-item {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8.5px;
}


/* Footer contacts styles */

.footer__contacts {
    position: absolute;
    width: 1113px;
    height: 317px;
    left: 161px;
    margin-top: 420px;
}

.footer__contacts-details {
    width: 493px;
    height: 245px;
}

.footer__contacts-header {
    width: 394px;
    height: 69px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: -3px;
}

.footer__contacts-details-call-to-action {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    margin-top: -45px;
}

.footer__contacts-details-items {
    width: 489px;
    height: 154px;
    margin-left: -44px;
}

.footer__contacts-details-item {
    padding: 6px;
}

.footer__contacts-details-text {
    margin-left: 35px;
    margin-top: -24px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #BDBDBD;
}

.footer__contacts-details-icon--phone {
    margin-bottom: -6px;
}

.footer__contacts-form {
    position: absolute;
    width: 539px;
    height: 317px;
    left: 570px;
    top: 0px;
}

.footer__contacts-input-fields {
    margin-top: -45px;
    width: 539px;
}

.footer__contacts-input-field-one {
    position: absolute;
    font-family: Mulish;
    width: 255px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 4px;
}

.footer__contacts-input-field-two {
    position: absolute;
    font-family: Mulish;
    width: 255px;
    height: 50px;
    left: 274px;
    background: #FFFFFF;
    border-radius: 4px;
}

.footer__contacts-input-field-three {
    position: absolute;
    font-family: Mulish;
    width: 530px;
    height: 123px;
    top: 120px;
    background: #FFFFFF;
    border-radius: 4px;
}

.footer__contacts-send-button {
    position: absolute;
    width: 160px;
    height: 50px;
    top: 265px;
    background: #EC1F46;
    border-color: #EC1F46;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    font-family: Mulish;
}

.footer__contacts-required-fields {
    position: absolute;
    width: 97px;
    height: 15px;
    top: 265px;
    left: 445px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #E0E0E0;
}


/* Footer bottom styles */

.footer__bottom {
    position: absolute;
    width: 696px;
    height: 22px;
    left: 578px;
    margin-top: 832px;
}

.footer__bottom-disclaimer {
    position: absolute;
    width: 353px;
    height: 15px;
}

.footer__bottom-disclaimer-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -40px;
    margin-top: -4px;
}

.footer__bottom-disclaimer-list-item {
    width: 120px;
    height: 15px;
    font-family: Mulish;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.footer__bottom-disclaimer-list-item--one {
    width: 100px;
}

.footer__bottom-disclaimer-list-item--two {
    margin-left: -35px;
}

.footer__bottom-disclaimer-list-item--three {
    margin-left: 2px;
}

.footer__bottom-payment-methods {
    position: absolute;
    width: 136px;
    height: 22px;
    left: 560px;
    background: url();
}